@{
    ViewBag.Title = "Private";
}

<div class="card">
    <div class="card-body">
        <div class="text-center m-5 p-5">
            <h1>Authorized users only :p</h1>
        </div>
    </div>
</div>